@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Site Owner<br />
    David Hansford<br />
    Technical Architect<br />
    Microsoft Corporation<br />
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:david.hansford@microsoft.com">David Hansford</a><br />
</address>
